.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul, li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

#supp {
  text-align: left;
  text-align: justify;
}

#supp-name {
  color: rgb(102, 162, 202);
  text-align: left;
  text-align: justify;
}

.gray-bkg {
  background-color: rgb(199, 199, 199);
  opacity: 80%;
  padding: 50px;
}

.nav-bar {
  margin-bottom: 40px;
  margin-top: 40px;
}
